<!DOCTYPE html>
<html>
<head>
    <title>Add recipe</title>
</head>
<body>
    <h1>Add recipe</h1>
    <form method="POST">
        <label for="dish_name">recipe Name:</label>
        <input type="text" name="dish_name" required><br>

        <label for="description">Description:</label>
        <textarea name="description" required></textarea><br>

        <label for="origin">Origin:</label>
        <textarea name="origin" required></textarea><br>

        <input type="submit" value="Add recipe">
    </form>
</body>
</html>
